openapi: 3.2.0
info:
  title: Radicle HTTP API (radicle-httpd) Source API
  version: 6.1.0
  x-generated: '2026-07-20'
  x-method: searched
  x-source: https://seed.radicle.xyz/api/v1
  description: Radicle is a sovereign, peer-to-peer code collaboration stack built on Git.
  contact:
    name: Radicle
    url: https://radicle.dev/
  license:
    name: MIT OR Apache-2.0
servers:
- url: https://seed.radicle.xyz/api/v1
  description: Public community seed node (read-only)
- url: https://{node}/api/v1
  description: Any self-hosted radicle-httpd node
  variables:
    node:
      default: seed.radicle.xyz
tags:
- name: Source
  description: Commits, trees, blobs and READMEs
paths:
  /repos/{rid}/commits:
    get:
      tags:
      - Source
      operationId: listCommits
      summary: List commits
      parameters:
      - $ref: '#/components/parameters/Rid'
      - name: parent
        in: query
        required: false
        schema:
          type: string
      - name: since
        in: query
        required: false
        schema:
          type: integer
      - name: until
        in: query
        required: false
        schema:
          type: integer
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
      - name: perPage
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
      responses:
        '200':
          description: Array of commits
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Commit'
  /repos/{rid}/commits/{sha}:
    get:
      tags:
      - Source
      operationId: getCommit
      summary: Get a commit
      parameters:
      - $ref: '#/components/parameters/Rid'
      - name: sha
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Commit with diff
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Commit'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /repos/{rid}/tree/{sha}/{path}:
    get:
      tags:
      - Source
      operationId: getTree
      summary: Get a source tree
      parameters:
      - $ref: '#/components/parameters/Rid'
      - name: sha
        in: path
        required: true
        schema:
          type: string
      - name: path
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Tree listing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tree'
        '400':
          description: Invalid revision or path
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /repos/{rid}/blob/{sha}/{path}:
    get:
      tags:
      - Source
      operationId: getBlob
      summary: Get a file blob
      parameters:
      - $ref: '#/components/parameters/Rid'
      - name: sha
        in: path
        required: true
        schema:
          type: string
      - name: path
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Blob content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Blob'
        '400':
          description: Invalid revision or path
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /repos/{rid}/readme/{sha}:
    get:
      tags:
      - Source
      operationId: getReadme
      summary: Get the repository README at a revision
      parameters:
      - $ref: '#/components/parameters/Rid'
      - name: sha
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: README blob
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Blob'
        '400':
          description: Invalid revision
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  parameters:
    Rid:
      name: rid
      in: path
      required: true
      description: Repository ID (e.g. rad:z6cFWeWpnZNHh9rUW8phgA3b5yGt)
      schema:
        type: string
  schemas:
    Blob:
      type: object
      properties:
        binary:
          type: boolean
        content:
          type: string
        name:
          type: string
        path:
          type: string
        lastCommit:
          type: object
    Commit:
      type: object
      properties:
        id:
          type: string
        author:
          type: object
          properties:
            name:
              type: string
            email:
              type: string
        summary:
          type: string
        description:
          type: string
        parents:
          type: array
          items:
            type: string
        committer:
          type: object
          properties:
            name:
              type: string
            email:
              type: string
            time:
              type: integer
    Error:
      type: object
      description: Error envelope returned by radicle-httpd.
      properties:
        error:
          type: string
        code:
          type: integer
      required:
      - error
      - code
    Tree:
      type: object
      properties:
        entries:
          type: array
          items:
            type: object
        lastCommit:
          type: object
        name:
          type: string
        path:
          type: string
