openapi: 3.2.0
info:
  title: Radicle HTTP API (radicle-httpd) Repositories API
  version: 6.1.0
  x-generated: '2026-07-20'
  x-method: searched
  x-source: https://seed.radicle.xyz/api/v1
  description: Radicle is a sovereign, peer-to-peer code collaboration stack built on Git.
  contact:
    name: Radicle
    url: https://radicle.dev/
  license:
    name: MIT OR Apache-2.0
servers:
- url: https://seed.radicle.xyz/api/v1
  description: Public community seed node (read-only)
- url: https://{node}/api/v1
  description: Any self-hosted radicle-httpd node
  variables:
    node:
      default: seed.radicle.xyz
tags:
- name: Repositories
  description: Radicle repositories seeded by the node
paths:
  /repos:
    get:
      tags:
      - Repositories
      operationId: listRepos
      summary: List seeded repositories
      description: Lists repositories seeded by this node, with their project payload, delegates and visibility.
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
      - name: perPage
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
      - name: show
        in: query
        required: false
        schema:
          type: string
          enum:
          - all
          - pinned
      responses:
        '200':
          description: Array of repositories
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Repo'
  /repos/{rid}:
    get:
      tags:
      - Repositories
      operationId: getRepo
      summary: Get a repository
      parameters:
      - $ref: '#/components/parameters/Rid'
      responses:
        '200':
          description: Repository
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Repo'
        '404':
          description: Repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /repos/{rid}/activity:
    get:
      tags:
      - Repositories
      operationId: getRepoActivity
      summary: Repository activity timeline
      description: Returns an array of Unix timestamps representing repository activity.
      parameters:
      - $ref: '#/components/parameters/Rid'
      responses:
        '200':
          description: Activity timestamps
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
  /delegates/{did}/repos:
    get:
      tags:
      - Repositories
      operationId: getDelegateRepos
      summary: List repositories delegated to a DID
      parameters:
      - name: did
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Array of repositories
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Repo'
components:
  parameters:
    Rid:
      name: rid
      in: path
      required: true
      description: Repository ID (e.g. rad:z6cFWeWpnZNHh9rUW8phgA3b5yGt)
      schema:
        type: string
  schemas:
    Repo:
      type: object
      properties:
        rid:
          type: string
        payloads:
          type: object
        delegates:
          type: array
          items:
            $ref: '#/components/schemas/Did'
        threshold:
          type: integer
        visibility:
          type: object
          properties:
            type:
              type: string
              enum:
              - public
              - private
        seeding:
          type: integer
        refs:
          type: object
    Did:
      type: object
      properties:
        id:
          type: string
          description: DID (did:key:...)
        alias:
          type: string
    Activity:
      type: object
      properties:
        activity:
          type: array
          items:
            type: integer
            description: Unix timestamp
    Error:
      type: object
      description: Error envelope returned by radicle-httpd.
      properties:
        error:
          type: string
        code:
          type: integer
      required:
      - error
      - code
